<div class="board-column-title-{{title.toLowerCase()}}">
    <div class="board-status-card">
        <div class="board-column-status-{{status}}">
            <span class="board-column-title-text">
                <span>{{title.replace('-', ' ')}}</span>
            </span>
        </div>
    </div>
</div>
<div class="board-column-{{title.toLowerCase()}}-tasks"
     cdkDropList
     [cdkDropListData]="filteredBoardTasks"
     (cdkDropListDropped)="drop($event)">
    <div *ngFor="let task of filteredBoardTasks" cdkDrag [cdkDragData]="task">
        <app-board-task-card [task]="task" (click)="onUpdateButtonClick(task)"></app-board-task-card>
    </div>
    <div class="board-task-card-add" (click)="onCreateButtonClick()">
        <div class="board-task-card-add-details">
            <div class="board-task-card-add-title">
                <span>+</span>
            </div>
        </div>
    </div>
</div>
