
<div class="board-{{title.toLowerCase()}}">
    <div class="board-status-card">
        <div class="board-status-{{status}}">
            <span class="board-text025"><span>{{title.replace('-', ' ')}}</span></span>
        </div>
    </div>
</div>
<div class="board-{{title.toLowerCase()}}-tasks">
    <div *ngFor="let task of filteredBoardTasks">
        <ng-container *ngIf="task.status === status">
            <app-board-task [id]="task.id"
                            [title]="task.title"
                            [description]="task.description"
                            [status]="task.status">

            </app-board-task>
        </ng-container>
    </div>
    <div class="board-task-card04">
        <div class="board-details04">
            <div class="board-task-details04">
                <div class="board-header08">
                    <div class="board-ttile-due-date08">
                        <span class="board-text024">+</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>