.board-task-card {
    gap: 10px;
    display: flex;
    padding: 16px 15px;
    overflow: hidden;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05000000074505806) ;
    align-items: center;
    border-color: rgba(240, 240, 240, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
}
.board-details {
    gap: 12px;
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
}
.board-task-details {
    gap: 12px;
    display: flex;
    padding: 0 1px;
    align-items: flex-start;
    flex-direction: column;
}
.board-header {
    gap: 8px;
    width: 295px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
}
.board-title-cross {
    width: 294px;
    height: 14px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
}
.board-vector {
    top: 2px;
    left: 282.24700927734375px;
    width: 12px;
    height: 12px;
    position: absolute;
}
.board-text {
    color: rgba(0, 0, 0, 1);
    width: 281px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Montserrat;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.board-header01 {
    gap: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.board-ttile-due-date01 {
    width: 231px;
    height: 20px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
}
.board-text002 {
    color: rgba(115, 117, 121, 1);
    width: 231px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Montserrat;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.board-task-owner {
    gap: 4px;
    display: flex;
    align-items: center;
}
.board-owner-icon {
    width: 14px;
    height: 14px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
}
.board-icon {
    top: 0px;
    left: 1px;
    width: 12px;
    height: 14px;
    display: flex;
    opacity: 0.80;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}
.board-path2 {
    top: 0px;
    left: 0px;
    width: 12px;
    height: 11px;
    position: absolute;
}
.board-path4 {
    top: 11.790496826171875px;
    left: 2.4474399089813232px;
    width: 7px;
    height: 2px;
    position: absolute;
}
.board-text004 {
    color: rgba(128, 135, 143, 1);
    height: auto;
    font-size: 13px;
    font-style: Regular;
    text-align: left;
    font-family: Montserrat;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}