<div class="board-task-card">
    <div class="board-details">
        <div class="board-task-details">
            <div class="board-header">
                <div class="board-title-cross">
                    <div class="board-icon" (click)="deleteBoardTask(); ">
                        <img
                                src="/assets/external/vector3034-qhs8r.svg"
                                alt="Vector3034"
                                class="board-vector"
                        />
                    </div>
                    <span class="board-text"><span>{{this.title}}</span></span>
                </div>
            </div>
            <div class="board-header01">
                <div class="board-ttile-due-date01">
                <span class="board-text002">
                  <span>{{this.description}}</span>
                </span>
                </div>
            </div>
            <div class="board-task-owner">
                <div class="board-owner-icon">
                    <div class="board-icon">
                        <img
                                src="/assets/external/path2i303-noon.svg"
                                alt="Path2I303"
                                class="board-path2"
                        />
                        <img
                                src="/assets/external/path4i303-w3en.svg"
                                alt="Path4I303"
                                class="board-path4"
                        />
                    </div>
                </div>
                <span class="board-text004"><span>{{this.status}}</span></span>
            </div>
        </div>
    </div>
</div>