.board-logout-button {
  top: 41px;
  left: 1853px;
  width: 36px;
  height: 36px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.board-logout-svg-group {
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.board-vector16 {
  top: 0;
  left: 11px;
  width: 25px;
  height: 36px;
  position: absolute;
}
.board-vector17 {
  top: 17px;
  left: 2px;
  width: 23px;
  height: 3px;
  position: absolute;
}
.board-vector18 {
  top: 11px;
  left: 0;
  width: 9px;
  height: 14px;
  position: absolute;
}
.board-title {
  top: 42px;
  left: 32px;
  width: 136px;
  height: 34px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.board-title-text {
  color: rgba(43, 55, 68, 1);
  height: auto;
  position: absolute;
  font-size: 28px;
  text-align: left;
  font-family: Montserrat, serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.board-container{
  flex-direction: column;
  width: 100%;
  display: flex;
  overflow: hidden;
  position: initial;
  align-items: flex-start;
  flex-shrink: 0;
}
.board-task-card-add {
  gap: 10px;
  display: flex;
  padding: 16px 15px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: flex-start;
  border-color: rgba(240, 240, 240, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
}
.board-task-card-add-details {
  gap: 12px;
  display: flex;
  padding: 0 1px;
  align-items: flex-start;
  flex-direction: column;
}
.board-column-status-0 {
  top: 0;
  left: 0;
  width: 348px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 6px 6px 0 0;
  background-color: rgba(43, 55, 68, 1);
}
.board-column-status-1 {
  top: 0;
  left: 0;
  width: 348px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 6px 6px 0 0;
  background-color: rgba(94, 203, 137, 1);
}
.board-column-status-2 {
  top: 0;
  left: 0;
  width: 348px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 6px 6px 0 0;
  background-color: rgba(224, 90, 51, 1);
}
.board-column-status-3 {
  top: 0;
  left: 0;
  width: 348px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 6px 6px 0 0;
  background-color: rgba(35, 110, 180, 1);
}
.board-column-status-4 {
  top: 0;
  left: 0;
  width: 348px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 6px 6px 0 0;
  background-color: rgba(151, 97, 246, 1);
}
.board-column-backlog-tasks {
  gap: 10px;
  top: 146px;
  left: 33px;
  width: 347px;
  display: flex;
  padding: 16px 10px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(228, 228, 228, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 0 0 6px 6px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(248, 248, 249, 1);
}
.board-column-to-do-tasks {
  gap: 10px;
  top: 146px;
  left: 406px;
  width: 347px;
  display: flex;
  padding: 16px 10px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(228, 228, 228, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 0 0 6px 6px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(248, 248, 249, 1);
}
.board-column-in-progress-tasks {
  gap: 10px;
  top: 146px;
  left: 786px;
  width: 347px;
  display: flex;
  padding: 16px 10px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(228, 228, 228, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 0 0 6px 6px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(248, 248, 249, 1);
}
.board-column-in-review-tasks {
  gap: 10px;
  top: 146px;
  left: 1162px;
  width: 347px;
  display: flex;
  padding: 16px 10px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(228, 228, 228, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 0 0 6px 6px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(248, 248, 249, 1);
}
.board-column-done-tasks {
  gap: 10px;
  top: 146px;
  left: 1540px;
  width: 347px;
  display: flex;
  padding: 16px 10px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(228, 228, 228, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 0 0 6px 6px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(248, 248, 249, 1);
}
.board-column-title-in-progress {
  top: 111px;
  left: 785px;
  width: 347px;
  display: flex;
  position: absolute;
  align-items: center;
  border-radius: 6px;
  flex-direction: column;
}
.board-column-title-to-do {
  top: 111px;
  left: 405px;
  width: 348px;
  display: flex;
  position: absolute;
  align-items: center;
  border-radius: 6px;
  flex-direction: column;
}
.board-column-title-done {
  top: 111px;
  left: 1539px;
  width: 348px;
  display: flex;
  position: absolute;
  align-items: center;
  border-radius: 6px;
  flex-direction: column;
}
.board-column-title-in-review {
  top: 111px;
  left: 1161px;
  width: 348px;
  display: flex;
  position: absolute;
  align-items: center;
  border-radius: 6px;
  flex-direction: column;
}
.board-column-title-backlog {
  gap: 10px;
  top: 111px;
  left: 32px;
  width: 348px;
  display: flex;
  position: absolute;
  align-items: center;
  border-radius: 6px;
  flex-direction: column;
}
.board-column-title-text {
  top: 9px;
  left: 145px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  text-align: center;
  font-family: Montserrat, serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
