<div class="board-container">
<div class="board-title">
  <span class="board-title-text">
      <span>TaskEase</span>
  </span>
</div>
  <div cdkDropListGroup>
    <app-board-column [title]="'Backlog'"
                      [status]="TaskStatus.Backlog">
    </app-board-column>
    <app-board-column [title]="'To-Do'"
                      [status]="TaskStatus.ToDo">
    </app-board-column>
    <app-board-column [title]="'In-Progress'"
                      [status]="TaskStatus.InProgress">
    </app-board-column>
    <app-board-column [title]="'In-Review'"
                      [status]="TaskStatus.InReview">
    </app-board-column>
    <app-board-column [title]="'Done'"
                      [status]="TaskStatus.Done">
    </app-board-column>
  </div>
  <div class="board-logout-button">
    <div class="board-logout-svg-group" (click)="performLogout()">
      <img
              ngSrc="/assets/external/logout-vector1.svg"
              alt="Vector3101"
              class="board-vector16"
              height="37" width="26"/>
      <img
              ngSrc="/assets/external/logout-vector2.svg"
              alt="Vector3101"
              class="board-vector17"
              height="4" width="24"/>
      <img
              ngSrc="/assets/external/logout-vector3.svg"
              alt="Vector3101"
              class="board-vector18"
              height="16" width="9"/>
    </div>
  </div>
</div>
