:host { 
  display: contents; 
}
.register-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.register-register {
  height: 900px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 1);
}
.register-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.register-left-side {
  gap: 10px;
  width: 720px;
  display: flex;
  padding: 90px 140px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.register-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 32px;
  text-align: left;
  font-family: Inter, serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.register-container1 {
  flex: 0 0 auto;
  width: 522px;
  height: 21px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0;
}
.register-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.register-form {
  gap: 30px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.register-form-group {
  gap: 10px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.register-text02 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  text-align: left;
  font-family: Inter, serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.register-frame2 {
  gap: 10px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.register-input {
  gap: 10px;
  color: rgba(0, 0, 0, 1);
  width: 215px;
  display: flex;
  padding: 20px 40px;
  flex-grow: 1;
  font-size: 16px;
  text-align: left;
  align-items: flex-start;
  flex-shrink: 0;
  font-family: Inter, serif;
  font-weight: 400;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(243, 244, 246, 1);
}
.register-input1 {
  gap: 10px;
  color: rgba(0, 0, 0, 1);
  width: 215px;
  display: flex;
  padding: 20px 40px;
  flex-grow: 1;
  font-size: 16px;
  text-align: left;
  align-items: flex-start;
  flex-shrink: 0;
  font-family: Inter, serif;
  font-weight: 400;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(243, 244, 246, 1);
}
.register-form-group1 {
  gap: 10px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.register-text04 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  text-align: left;
  font-family: Inter, serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.register-input2 {
  gap: 10px;
  color: rgba(0, 0, 0, 1);
  height: 65px;
  display: flex;
  padding: 20px 40px;
  font-size: 16px;
  align-self: stretch;
  text-align: left;
  align-items: flex-start;
  flex-shrink: 0;
  font-family: Inter, serif;
  font-weight: 400;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(243, 244, 246, 1);
}
.register-form-group2 {
  gap: 10px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.register-text06 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  text-align: left;
  font-family: Inter, serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.register-input3 {
  gap: 10px;
  color: rgba(0, 0, 0, 1);
  height: 65px;
  display: flex;
  padding: 20px 40px;
  font-size: 16px;
  align-self: stretch;
  text-align: left;
  align-items: flex-start;
  flex-shrink: 0;
  font-family: Inter, serif;
  font-weight: 400;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(243, 244, 246, 1);
}
.register-form-group3 {
  gap: 10px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.register-frame1 {
  gap: 10px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.register-text08 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  text-align: left;
  font-family: Inter, serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.register-input4 {
  gap: 10px;
  color: rgba(0, 0, 0, 1);
  height: 65px;
  display: flex;
  padding: 20px 40px;
  font-size: 16px;
  align-self: stretch;
  text-align: left;
  align-items: flex-start;
  flex-shrink: 0;
  font-family: Inter, serif;
  font-weight: 400;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(243, 244, 246, 1);
}
.register-agreement {
  gap: 15px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.register-text10 {
  color: var(--dl-color-default-muted);
  height: auto;
  flex-grow: 1;
  font-size: 14px;
  text-align: left;
  font-family: Inter, serif;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.register-button {
  gap: 10px;
  display: flex;
  padding: 25px;
  align-self: stretch;
  box-shadow: 0 30px 60px 0 rgba(79, 70, 229, 0.15000000596046448) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  justify-content: center;
  background-color: var(--dl-color-default-primary);
  transition: background-color 0.3s ease;
}
.register-button:hover {
  background-color: rgba(79, 70, 229, 0.82);
}
.register-text12 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  text-align: left;
  font-family: Inter, serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.register-text14 {
  color: rgba(75, 85, 99, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  text-align: center;
  font-family: Inter, serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.register-text15 {
  color: var(--dl-color-default-muted);
}
.register-text16 {
  cursor: pointer;
  color: var(--dl-color-default-primary);
}
.error-text-1 {
  padding-left: 20px;
}
.error-notification-register-text {
  color: firebrick;
  height: auto;
  font-size: 16px;
  align-self: stretch;
  text-align: center;
  font-family: Inter, serif;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
