:host { 
  display: contents;
}
.login-login {
  height: 900px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 1);
}
.login-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.login-left-side {
  gap: 10px;
  width: 720px;
  height: 900px;
  display: flex;
  padding: 90px 140px;
  align-items: flex-start;
  flex-direction: column;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-container1 {
  flex: 0 0 auto;
  width: 490px;
  height: 1px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
}
.login-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 32px;
  text-align: left;
  font-family: Inter, serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-text02 {
  color: rgba(75, 85, 99, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  text-align: left;
  font-family: Inter, serif;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.login-container2 {
  flex: 0 0 auto;
  width: 446px;
  height: 18px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0;
}
.login-form {
  gap: 30px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.login-form-group {
  gap: 10px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.login-text04 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  text-align: left;
  font-family: Inter, serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-input {
  gap: 10px;
  height: 65px;
  display: flex;
  padding: 20px 40px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(243, 244, 246, 1);
}
.login-form-group1 {
  gap: 10px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.login-frame1 {
  gap: 10px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.login-text06 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  text-align: left;
  font-family: Inter, serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-text08 {
  cursor: pointer;
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 16px;
  text-align: left;
  font-family: Inter, serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-input1 {
  gap: 10px;
  height: 65px;
  display: flex;
  padding: 20px 40px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(243, 244, 246, 1);
}
.login-button {
  gap: 10px;
  display: flex;
  padding: 25px;
  align-self: stretch;
  box-shadow: 0px 30px 60px 0px rgba(79, 70, 229, 0.15000000596046448) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  justify-content: center;
  background-color: var(--dl-color-default-primary);
  transition: background-color 0.3s ease;
}
.login-button:hover {
  background-color: rgba(79, 70, 229, 0.82);
}
.login-text10 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  text-align: left;
  font-family: Inter, serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-text12 {
  color: rgba(75, 85, 99, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  text-align: center;
  font-family: Inter, serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-text13 {
  color: var(--dl-color-default-muted);
}
.error-notification-login-text {
  color: firebrick;
  height: auto;
  font-size: 16px;
  align-self: stretch;
  text-align: center;
  font-family: Inter, serif;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
